<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Label</key>
	<string>io.beams.chris</string>
	<key>ProgramArguments</key>
	<array>
		<string>/Users/cbeams/Work/chris.beams.io/serve.sh</string>
	</array>
	<key>KeepAlive</key>
	<true/>
	<key>RunAtLoad</key>
        <true/>
        <key>StandardOutPath</key>
        <string>/var/log/chris.beams.io.log</string>
        <key>StandardErrorPath</key>
        <string>/var/log/chris.beams.io.log</string>
        <key>Debug</key>
        <true/>
</dict>
</plist>
