<head>
  <meta http-equiv="content-type" content="text/html; charset=utf-8">

  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1">

  <title>{{ page.title }}</title>

  <link rel="stylesheet" href="/css/style.css">
  <link rel="stylesheet" href="/css/darcula.css">

  <link rel="alternate" type="application/atom+xml" title="cbeams" href="{{ site.feedurl }}/atom.xml">
  <link rel="alternate" type="application/atom+xml" title="cbeams/thoughts" href="{{ site.feedurl }}/thoughts/atom.xml">
  <link rel="alternate" type="application/atom+xml" title="cbeams/articles" href="{{ site.feedurl }}/articles/atom.xml">
  <link rel="alternate" type="application/atom+xml" title="cbeams/quotes" href="{{ site.feedurl }}/quotes/atom.xml">
  {% for project in site.data.projects %}{% if project.active == true %}<link rel="alternate" type="application/atom+xml" title="cbeams{{ project.path }}" href="{{ site.feedurl }}{{ project.path }}/atom.xml">
  {% endif %}{% endfor %}
</head>
