<head>
  <meta http-equiv="content-type" content="text/html; charset=utf-8">

  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1">

  <title>{{ page.title }}</title>

  <link rel="stylesheet" href="/css/style.css">
  <link rel="stylesheet" href="/css/darcula.css">

  <link rel="alternate" type="application/atom+xml" title="cbeams/stream" href="http://feed.chris.beams.io/stream">
  <link rel="alternate" type="application/atom+xml" title="cbeams/thoughts" href="http://feed.chris.beams.io/thoughts">
  <link rel="alternate" type="application/atom+xml" title="cbeams/articles" href="http://feed.chris.beams.io/articles">
  <link rel="alternate" type="application/atom+xml" title="cbeams/quotes" href="http://feed.chris.beams.io/quotes">
  {% for project in site.data.projects %}{% if project.active == true %}<link rel="alternate" type="application/atom+xml" title="cbeams{{ project.path }}" href="http://feed.chris.beams.io{{ project.path }}">
  {% endif %}{% endfor %}
</head>
