<head>
  <meta http-equiv="content-type" content="text/html; charset=utf-8">

  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1">

  <title>{{ page.title }}</title>

  <link rel="stylesheet" href="/css/style.css">
  <link rel="stylesheet" href="/css/darcula.css">

  <link rel="alternate" type="application/atom+xml" title="(all posts)" href="{{ site.feedurl }}/atom.xml">
  <link rel="alternate" type="application/atom+xml" title="/notes" href="{{ site.feedurl }}/notes/atom.xml">
  <link rel="alternate" type="application/atom+xml" title="/articles" href="{{ site.feedurl }}/articles/atom.xml">
  <link rel="alternate" type="application/atom+xml" title="/quotes" href="{{ site.feedurl }}/quotes/atom.xml">
  {% strip %}
  {% for project in site.data.projects %}
    {% if project.active == true %}
  <link rel="alternate" type="application/atom+xml" title="{{ project.path }}" href="{{ site.feedurl }}{{ project.path }}/atom.xml">
    {% endif %}
  {% endfor %}
  {% endstrip %}
</head>
